acl goodclients {
    192.168.2.0/24;
    172.18.0.0/16;
    localhost;
    localnets;
};

options {
    directory "/var/cache/bind";

    forwarders {
            {{ dns_forwarders.primary | default("8.8.8.8") }};
            {{ dns_forwarders.secondary | default("8.8.4.4") }};
    };

    dnssec-validation auto;

    allow-query { goodclients; };

    recursion yes;
    listen-on { any; };
};


