{% macro all_users() -%}
  {% for user in samba.users %}{{ user.name }},{% endfor %}{% for user in samba.user_aliases %}{{ user.name }},{% endfor %}{% for user in samba.users %}@{{ user.group }}{% if not loop.last %},{% endif %}{% endfor %}
{%- endmacro -%}
{% macro aliases(user) -%}
  {% for user_alias in samba.user_aliases %}{% if user == user_alias.alias %},{{ user_alias.name }}{% endif %}{% endfor %}
{%- endmacro -%}
{% macro get_user(user) -%}
  {{ user.name }}{{ aliases(user.name) }},@{{ user.group }}
{%- endmacro -%}
auth:
  {% for user in samba.users -%}
  - user: {{ user.name }}
    group: {{ user.group }}
    uid: {{ user.uid }}
    gid: {{ user.gid }}
    password_file: /run/secrets/{{ user.name }}_password
  {% endfor %}
  {%- for user in samba.user_aliases -%}
  - user: {{ user.name }}
    group: {{ user.group }}
    uid: {{ user.uid }}
    gid: {{ user.gid }}
    password_file: /run/secrets/{{ user.alias }}_password
  {% endfor %}

global:
  - "force user = {{ samba.users[0].name }}"
  - "force group = {{ samba.users[0].group }}"
  - "access based share enum = yes"

share:
  - name: public
    comment: Public Files
    path: /samba/public
    browsable: yes
    readonly: no
    guestok: yes
    veto: no
  - name: studium
    comment: Studium
    path: /samba/studium
    adminusers: {{ all_users() }}
    validusers: {{ all_users() }}
    readonly: no
    guestok: no
    browsable: yes
    readonly: no
    veto: no
  - name: drop
    comment: Quickly drop off some files
    path: /samba/drop
    browsable: yes
    readonly: no
    adminusers: {{ all_users() }}
    guestok: yes
    veto: no
  - name: shows
    comment: TV Shows
    path: /samba/shows
    adminusers: {{ all_users() }}
    validusers: {{ all_users() }}
    readonly: no
    guestok: no
    browsable: yes
    veto: no
  - name: movies
    comment: Movies
    path: /samba/movies
    adminusers: {{ all_users() }}
    validusers: {{ all_users() }}
    readonly: no
    guestok: no
    browsable: yes
    veto: no
  - name: photos
    comment: Photos
    path: /samba/photos
    adminusers: {{ get_user(samba.users[0]) }}
    validusers: {{ get_user(samba.users[0]) }}
    readonly: no
    guestok: no
    browsable: yes
    veto: no
  {% for user in samba.users -%}
  - name: {{ user.name }}
    comment: "{{ user.name | capitalize }}'s files"
    path: /samba/{{ user.name }}
    adminusers: {{ user.name }}{{ aliases(user.name) }},@{{ user.group }}
    validusers: {{ user.name }}{{ aliases(user.name) }},@{{ user.group }}
    browsable: yes
    readonly: no
    guestok: no
    veto: no
  {% endfor %}
