version: "3.5"

services:
  samba:
    image: crazymax/samba
    container_name: samba
    restart: always
    network_mode: host
    environment:
      - "TZ=Europe/Amsterdam"
      - "SAMBA_LOG_LEVEL=0"
    volumes:
      - "./config.yml:/data/config.yml"
      - "public:/samba/public"
      - "drop:/samba/drop"
      - "studium:/samba/studium"
      - "shows:/samba/shows"
      - "movies:/samba/movies"
      - "audiobooks:/samba/audiobooks"
      - "photos:/samba/photos"
      {% for user in samba.users -%}
      - "{{ user.name }}:/samba/{{ user.name }}"
      {% endfor %}
    
    secrets:
      {% for user in samba.users -%}
        - "{{ user.name }}_password"
      {% endfor %}

secrets:
  {% for user in samba.users -%}
  {{ user.name }}_password:
    file: ./sensitive/{{ user.name }}_password.txt
  {% endfor %}

volumes:
  public:
    external: true
    name: samba-public
  drop:
    external: true
    name: samba-drop
  studium:
    external: true
    name: samba-studium
  shows:
    external: true
    name: plex-shows
  movies:
    external: true
    name: plex-movies
  audiobooks:
    external: true
    name: plex-audiobooks
  photos:
    external: true
    name: photoprism-images
  {% for user in samba.users -%}
  {{ user.name }}:
    external: true
    name: samba-{{ user.name }}
  {% endfor %}
