BASE_URL="{{ base_url }}"
HOST_IP="{{ ansible_host }}"

DNS_FORWARDER_PRIMARY="{{ dns_forwarders.primary }}"
DNS_FORWARDER_SECONDARY="{{ dns_forwarders.secondary }}"

PHOTOPRISM_ADMIN_PASSWORD="{{ photoprism.ADMIN_PASSWORD }}"
PHOTOPRISM_DB_PASSWORD="{{ photoprism.DB_PASSWORD }}"
